<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>Workout Note</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet prefetch" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css">
  <link rel="stylesheet" type="text/css" media="screen" href="style.css">
</head>
<body></body>
<div class="modelist" id="app">
  <div class="container-videocapture"></div>
  <div class="container-list">
    <ul class="schedule__wrapper">
      <li class="schedule schedule__holder">
        <input class="schedule__title" placeholder="課表名稱" v-model="tempScheduleName">
        <div class="schedule__btn__wrap">
          <div class="btn schedule__btn-delete" @click.prevent="scheduleCancel"><i class="fas fa-times"></i></div>
          <div class="btn schedule__btn-edit" @click.prevent="scheduleAdd"><i class="fas fa-check"></i></div>
        </div>
        <div class="schedule__notice">點選動作卡片以加入課表</div>
        <ul class="schedule__list__wrapper">
          <li class="schedule__list schedule__list__edit" v-for="(a,i) in tempScheduleData">
            <div class="btn schedule__list__btn-delete" @click.prevent="tempScheduleItemsDelete(a)"><i class="fas fa-times"></i></div>
            <div class="schedule__list__exercise">{{i+1}}. {{a.exercises}}</div>
            <div class="schedule__list__info">
              <div class="schedule__list__weight"><i class="fas fa-dumbbell"></i>
                <input class="schedule__input" type="number" pattern="[0-9]*" min="0" v-model="a.weight" placeholder="重量">
              </div>
              <div class="schedule__list__cycle"><i class="fas fa-sync-alt"></i>
                <input class="schedule__input" type="number" pattern="[0-9]*" min="0" v-model="a.set" placeholder="組數">
              </div>
              <div class="schedule__list__rep"><i class="fas fa-redo-alt"></i>
                <input class="schedule__input" type="number" pattern="[0-9]*" min="0" v-model="a.rep" placeholder="次數">
              </div>
              <div class="schedule__list__time"><i class="fas fa-stopwatch"></i>
                <input class="schedule__input" type="number" pattern="[0-9]*" min="0" v-model="a.time" placeholder="時間">
              </div>
            </div>
          </li>
        </ul>
        <div class="schedule__holder__overlay" v-show="!isScheduleAdd">
          <button class="btn__add" @click.prevent="scheduleNew"><i class="fas fa-plus-circle"></i></button>
        </div>
      </li>
      <li class="schedule" v-for="(s, si) in scheduledata">
        <input class="schedule__title" type="text" v-model="s.schedule" :readonly="!s.isEdit">
        <div class="schedule__btn__wrap">
          <div class="btn schedule__btn-delete" @click.prevent="scheduleDelete(s)" v-show="s.isEdit"><i class="far fa-trash-alt"></i></div>
          <div class="btn schedule__btn-edit" @click.prevent="scheduleEdit(s)"><i class="fas" :class="{'fa-edit' : !s.isEdit, 'fa-check': s.isEdit}"></i></div>
        </div>
        <ul class="schedule__list__wrapper">
          <li class="schedule__list" v-for="(a,i) in s.list" :class="{'schedule__list__edit' : s.isEdit }">
            <div class="btn schedule__list__btn-delete" @click.prevent="scheduleItemsDelete(si,a)" v-show="s.isEdit"><i class="fas fa-times"></i></div>
            <div class="schedule__list__exercise">{{i+1}}. {{a.exercises}}</div>
            <div class="schedule__list__info">
              <div class="schedule__list__weight"><i class="fas fa-dumbbell"></i>
                <input class="schedule__input" type="number" pattern="[0-9]*" v-model="a.weight" placeholder="重量" :readonly="!s.isEdit">
              </div>
              <div class="schedule__list__cycle"><i class="fas fa-sync-alt"></i>
                <input class="schedule__input" type="number" pattern="[0-9]*" v-model="a.set" placeholder="組數" :readonly="!s.isEdit">
              </div>
              <div class="schedule__list__rep"><i class="fas fa-redo-alt"></i>
                <input class="schedule__input" type="number" pattern="[0-9]*" v-model="a.rep" placeholder="次數" :readonly="!s.isEdit">
              </div>
              <div class="schedule__list__time"><i class="fas fa-stopwatch"></i>
                <input class="schedule__input" type="number" pattern="[0-9]*" v-model="a.time" placeholder="時間" :readonly="!s.isEdit">
              </div>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="container">
    <div class="container__overlay" v-show="isOverlayOpen">
      <div class="more">
        <div class="more__header">
          <button class="btn more__btn__close" @click.prevent="overlayClose"><i class="fas fa-times"></i></button>
          <button class="btn more__btn__delete" @click="deleteWorkout"><i class="far fa-trash-alt"></i></button>
          <div class="more__title">{{overlay.title}}</div>
          <div class="more__subtitle">{{overlay.subtitle}}</div>
          <div class="more__hr"></div>
        </div>
        <div class="more__content" v-bind:class="{'more__content__novideo' : !hasPlayer}">
          <div class="more__video__inputwrap">
            <div class="more__video__input">Youtube分享連結
              <input type="text" placeholder="https://youtu.be/......" v-model="tempVideoId" v-bind:class="{'more__video__input-error' : !checkVideoId}">
            </div>
            <div class="more__video__input">開始時間
              <input class="input-2num" type="number" pattern="[0-9]*" placeholder="00" v-model="tempStartMin" min="0" max="59">分
              <input class="input-2num" type="number" pattern="[0-9]*" placeholder="00" v-model="tempStartSec" min="0" max="59">秒
            </div>
            <button class="more__video__input__btnok" @click.prevent="dataAddVideo" :disabled="!checkVideoId" V-bind:class="{'more__video__input__btnok-disable' : !checkVideoId}">加入影片</button>
          </div>
          <div class="more__player__wrapper" v-show="hasPlayer">
            <div id="ytplayer"></div>
          </div>
          <div class="more__content__note">
            <textarea placeholder="輸入筆記......" v-model="tempNote"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="search">
      <div class="search__bar">
        <input class="search__input" type="text" placeholder="搜尋部位、動作......" v-model="searchInput" @keyup.enter="searchCard">
        <button class="search__btnok" @click.prevent="searchCard"><i class="fas fa-search"></i></button>
      </div>
      <div class="search__fail" v-show="!isSearchResult">找不到有關 "{{searchKeyword}}" 的結果</div>
    </div>
    <ul class="card__wrapper">
      <li class="card__content card__content-holder" v-show="!isScheduleAdd">
        <button class="btn btn__done" @click.prevent="addWorkout" :disabled="!checkAddInput" v-bind:class="{'btn__disable' : !checkAddInput}"><i class="fas fa-check"></i></button>
        <button class="btn btn__cancel" @click.prevent="cancelAddWorkout"><i class="fas fa-times"></i></button>
        <div class="card__main">
          <input class="card__main__title card__main__title-input" type="text" list="muscleList" v-model="tempMuscle" placeholder="訓練部位">
          <datalist id="muscleList">
            <option v-for="d in muscleList" :value="d"></option>
          </datalist>
          <input class="card__main__subtitle card__main__subtitle-input" type="text" v-model="tempExercises" placeholder="訓練動作">
        </div>
        <div class="card__content-overlay" v-show="!isAdd">
          <button class="btn__add" @click.prevent="addEditing"><i class="fas fa-plus-circle"></i></button>
        </div>
      </li>
      <li class="card__content" v-for="(d,i) in searchResualt" @click="scheduleItemsAdd(d)">
        <div class="card__main">
          <div class="card__main__title">{{d.muscle}}</div>
          <div class="card__main__subtitle">{{d.exercises}}</div>
        </div>
        <button class="btn btn__more" @click.prevent="overlayOpen(d)"><i class="fas fa-angle-down"></i></button>
      </li>
    </ul>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://www.youtube.com/player_api"></script>
  <script src="index.js"></script>
</div>