doctype html
head
    meta(charset='UTF-8')
    title Workoutube
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(rel='stylesheet prefetch', href='https://use.fontawesome.com/releases/v5.1.1/css/all.css')
    link(rel="icon" type="image/png" href="images/icon.png")
    link(rel='stylesheet', type='text/css', media='screen', href='style.css')
body
#app.modelist
    .btn.btn__videocapture(@click.prevent="videoCaptureOpen") Video
    .container__overlay(v-show="isVideoOverlay")
        .videocapture
            .btn.videocapture__btn__close(@click.prevent="videoCaptureClose")
                i.fas.fa-times
            .videocapture__title 影片快截
            .videocapture__input__wrapper
                .videocapture__video__input Youtube分享連結
                    input(type="text" placeholder="https://youtu.be/......" v-model="tempVideoId" v-bind:class="{'more__video__input-error' : !checkVideoId}")
                button.videocapture__btn__ok(@click.prevent="videoCaptureInput") 確認
            .videocapture__main
                .videocapture__main__player
                    #captureplayer
                .videocapture__main__input
                    input.videocapture__main__input__muscle(type="text" list="muscleList" v-model="tempMuscle" placeholder="訓練部位")
                    datalist(id="muscleList")
                        option(v-for="d in muscleList" :value="d")
                    input.videocapture__main__input__exercise(type="text" v-model="tempExercises" placeholder="訓練動作")
                    textarea.videocapture__main__input__note(placeholder="輸入筆記......" v-model="tempNote")
                    button.videocapture__btn__ok(@click.prevent="videoCaptureAddExercise") 新增動作卡片
    .container-list
        ul.schedule__wrapper
            li.schedule.schedule__holder
                input.schedule__title(placeholder="課表名稱" v-model="tempScheduleName")
                .schedule__btn__wrap
                    .btn.schedule__btn-delete(@click.prevent="scheduleCancel")
                        i.fas.fa-times
                    .btn.schedule__btn-edit(@click.prevent="scheduleAdd")
                        i.fas.fa-check
                .schedule__notice 點選動作卡片以加入課表
                ul.schedule__list__wrapper
                    li.schedule__list.schedule__list__edit(v-for="(a,i) in tempScheduleData")
                        .btn.schedule__list__btn-delete(@click.prevent="tempScheduleItemsDelete(a)")
                            i.fas.fa-times
                        .schedule__list__exercise {{i+1}}. {{a.exercises}}
                        .schedule__list__info
                            .schedule__list__weight
                                i.fas.fa-dumbbell
                                input.schedule__input(type="number" pattern="[0-9]*" min="0" v-model="a.weight" placeholder="重量")
                            .schedule__list__cycle
                                i.fas.fa-sync-alt
                                input.schedule__input(type="number" pattern="[0-9]*" min="0" v-model="a.set" placeholder="組數")
                            .schedule__list__rep
                                i.fas.fa-redo-alt
                                input.schedule__input(type="number" pattern="[0-9]*" min="0" v-model="a.rep" placeholder="次數")
                            .schedule__list__time
                                i.fas.fa-stopwatch
                                input.schedule__input(type="number" pattern="[0-9]*" min="0" v-model="a.time" placeholder="時間")
                .schedule__holder__overlay(v-show="!isScheduleAdd")
                    button.btn__add(@click.prevent="scheduleNew")
                        i.fas.fa-plus-circle

            li.schedule(v-for="(s, si) in scheduledata")
                input.schedule__title(type="text" v-model="s.schedule" :readonly="!s.isEdit")
                .schedule__btn__wrap
                    .btn.schedule__btn-delete(@click.prevent="scheduleDelete(s)" v-show="s.isEdit")
                        i.far.fa-trash-alt
                    .btn.schedule__btn-edit(@click.prevent="scheduleEdit(s)")
                        i.fas(:class="{'fa-edit' : !s.isEdit, 'fa-check': s.isEdit}")
                ul.schedule__list__wrapper
                    li.schedule__list(v-for="(a,i) in s.list" :class="{'schedule__list__edit' : s.isEdit }")
                        .btn.schedule__list__btn-delete(@click.prevent="scheduleItemsDelete(si,a)" v-show="s.isEdit")
                            i.fas.fa-times
                        .schedule__list__exercise {{i+1}}. {{a.exercises}}
                        .schedule__list__info
                            .schedule__list__weight
                                i.fas.fa-dumbbell
                                input.schedule__input(type="number" pattern="[0-9]*" v-model="a.weight" placeholder="重量" :readonly="!s.isEdit")
                            .schedule__list__cycle
                                i.fas.fa-sync-alt
                                input.schedule__input(type="number" pattern="[0-9]*" v-model="a.set" placeholder="組數" :readonly="!s.isEdit")
                            .schedule__list__rep
                                i.fas.fa-redo-alt
                                input.schedule__input(type="number" pattern="[0-9]*" v-model="a.rep" placeholder="次數" :readonly="!s.isEdit")
                            .schedule__list__time
                                i.fas.fa-stopwatch
                                input.schedule__input(type="number" pattern="[0-9]*" v-model="a.time" placeholder="時間" :readonly="!s.isEdit")


    .container
        .container__overlay(v-show="isOverlay")
            .more
                .more__header
                    button.btn.more__btn__close(@click.prevent="overlayClose")
                        i.fas.fa-times
                    button.btn.more__btn__delete(@click="deleteWorkout")
                        i.far.fa-trash-alt
                    .more__title {{overlay.title}}
                    .more__subtitle {{overlay.subtitle}}
                    .more__hr

                .more__content(v-bind:class="{'more__content__novideo' : !hasPlayer}")
                    .more__video__inputwrap
                        .more__video__input Youtube分享連結
                            input(type="text" placeholder="https://youtu.be/......" v-model="tempVideoId" v-bind:class="{'more__video__input-error' : !checkVideoId}")
                        .more__video__input 開始時間
                            input.input-2num(type="number" pattern="[0-9]*" placeholder="00" v-model="tempStartMin" min="0" max="59")
                            |分
                            input.input-2num(type="number" pattern="[0-9]*" placeholder="00" v-model="tempStartSec" min="0" max="59")
                            |秒
                        button.more__video__input__btnok(@click.prevent="dataAddVideo" :disabled="!checkVideoId" V-bind:class="{'more__video__input__btnok-disable' : !checkVideoId}") 加入影片
                    .more__player__wrapper(v-show="hasPlayer")
                        #moreplayer
                    .more__content__note
                        textarea(placeholder="輸入筆記......" v-model="tempNote")

        .search
            .search__bar
                input.search__input(type="text" placeholder="搜尋部位、動作......" v-model="searchInput" @keyup.enter="searchCard")
                button.search__btnok(@click.prevent="searchCard")
                    i.fas.fa-search
            .search__fail(v-show="!isSearchResult") 找不到有關 "{{searchKeyword}}" 的結果
        ul.card__wrapper

            li.card__content.card__content-holder(v-show="!isScheduleAdd")
                button.btn.btn__done(@click.prevent="addWorkout" :disabled="!checkAddInput" v-bind:class="{'btn__disable' : !checkAddInput}")
                    i.fas.fa-check
                button.btn.btn__cancel(@click.prevent="cancelAddWorkout")
                    i.fas.fa-times
                .card__main
                    input.card__main__title.card__main__title-input(type="text" list="muscleList" v-model="tempMuscle" placeholder="訓練部位")
                    datalist(id="muscleList")
                        option(v-for="d in muscleList" :value="d")
                    input.card__main__subtitle.card__main__subtitle-input(type="text" v-model="tempExercises" placeholder="訓練動作")
                .card__content-overlay(v-show="!isAdd")
                    button.btn__add(@click.prevent="addEditing")
                        i.fas.fa-plus-circle

            li.card__content(v-for="(d,i) in searchResualt" @click="scheduleItemsAdd(d)")
                .card__main
                    .card__main__title {{d.muscle}}
                    .card__main__subtitle {{d.exercises}}
                button.btn.btn__more(@click.prevent="overlayOpen(d)")
                    i.fas.fa-angle-down



    script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src="https://www.youtube.com/player_api")
    script(src='index.js')